@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');

body{
  margin:0;
  font-family: 'Baloo Bhaijaan';
}
.container {
  width: 100vw;
  height: 100vh;
  background: black;
}
#scene {
  background: white;
  width: 600px;
  height: 720px;
  margin: auto;
  position: relative;
  background: url('../img/prison_background.png');
  background-size: cover;
}
#player {
 background-color: red;
 position: absolute;
 width: 35px;
 height: 35px;
 z-index: 100;
 background: url('../img/player.png');
 background-size: cover;
}
.platform {
  position: absolute;
  height: 20px;
  background-color: #600;
  background: url('../img/platform.png');
  background-size: contain;
}

.hide-platform {
  position: absolute;
  height: 2px;
  background-color: transparent;
}

#ground {
  top: 720px;
  left: 0vw;
  width: 100%;
}
#plat0 {
  top: 640px;
  left: calc(100% - 150px);
  width: 150px;
}
#plat1 {
  top: 640px;
  left: 0px;
  width: 180px;
}
#plat2 {
  top: 560px;
  left: 200px;
  width: 180px;
}
#plat3 {
  top: 460px;
  left: 75px;
  width: 100px;
}
#plat4 {
  top: 360px;
  left: 200px;
  width: 180px;
}
#plat5 {
  top: 280px;
  left: 0px;
  width: 108px;
}
#plat6 {
  top: 280px;
  left: calc(100% - 200px);
  width: 180px;
}
#plat7 {
  top: 200px;
  left: calc(100% - 50px);
  width: 50px;
}
#plat8 {
  top: 280px;
  left: 200px;
  width: 100px;
}
#plat9 {
  top: 560px;
  left: 400px;
  width: 100px;
}
#final-plat {
  top: 120px;
  left: 0;
  width: calc(100% - 132px);
}
#badGuy {
  position: absolute;
  /*top: calc(120px - 50px);*/
  left: 50px;
  width: 70px;
  height: 65px;
  background-color: yellow;
  background: url('../img/crabby.png');
  background-size: cover;
  z-index: 2;
}
.mini {
  position: absolute;
  top: calc(720px - 20px);
  left: 20px;
  width: 42px;
  height: 40px;
  background-color: green;
  background: url('../img/greenie.png');
  background-size: cover;
}
.flying{
  background: url('../img/jet.png');
  background-size: cover;
  width: 40px;
  height: 45px;
}
.bullet {
  position: absolute;
  width: 15px;
  top: calc(15vh - 50px);
  left: 50px;
  height: 10px;
  border-radius: 10px;
  background: blue;
  background: url('../img/bullets.png');
  background-size: cover;
}

#counter{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: calc(100% - 50px);
  text-align: center;
  padding: 15px 0;
  font-size: 1.5rem;

}

#show-counter{
  width: 400px;
  height: 450px;
  background: rgba(0,0,0,0.9);
  top: calc(50% - 225px);
  left: calc(50% - 200px);
  position: absolute;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 3rem;
  z-index: 101;
}
#show-counter h4{
  margin: 30px;

}
.stars{
  background-size: cover;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
}
button{
  padding: 10px 30px;
    border-radius: 20px;
    background: white;
    font-size: 1.2rem;
    border: 0px;
    background: #39A0ED;
    font-family: 'Baloo Bhaijaan';
    color: white;
    text-transform: uppercase;

}
