@import url('https://fonts.googleapis.com/css?family=Anton|Baloo+Bhaijaan|Encode+Sans+Semi+Condensed:300,400,500|Oswald:200,300,400,500|Permanent+Marker|Rock+Salt|Sedgwick+Ave|Walter+Turncoat');



body{
  margin:0;
  text-transform: uppercase;
  font-family: 'Baloo Bhaijaan';


}
.container{
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  background-size: cover;
  background-position: 50% 10%;
}

#title{
  color: white;
  margin:auto;
  width: 100%;
  font-size: 2rem;
  text-align: center;

}

#title2{
  color: white;
  margin:auto;
  text-align: center;
  width: 100%;
  font-family: 'Permanent Marker';
  text-shadow: 4px 1px 1px #000;
  height: 400px;
  .name{
    color: white;
    margin:auto;
    width: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 10rem;
    font-weight: 300;
  }
  .subtitle{
    font-size: 5rem;
  }
}
#thanks{
  color: white;
  margin:auto;
  text-align: center;
  width: 100%;
  font-family: 'Permanent Marker';
  text-shadow: 4px 1px 1px #000;
  height: 400px;
}

button{
  padding: 30px 70px;
  font-size: 1.5rem;
  background: #333;
  color: white;
  border: 0px solid white;
  border-radius: 50px;
  text-transform: uppercase;
  margin: 20px;
  font-family: 'Permanent Marker';
  box-shadow: 1px 3px 1px #000;
}

button:hover{
  background: #3F88C5;
}
button:focus{
  outline: 0px;
}

.modal-content img{
  width: 100%;
}
.modal-content{
  background: black;
}
.modal-body{
  padding: 15px 15px 30px 15px;
}
.modal-header{
  border-bottom: 0px;
  padding: 15px 15px 0 15px;

  button{
    margin:0;
  }
  .close{
    font-size: 30px;
    color: #fff;
    text-shadow: none;
    opacity: 1;
  }

}
